@import './../../../assets/scss/core/_variables';

div.blog_banner_container {
  background-color: $dark-blue-1;
  background: linear-gradient($dark-blue-1, $dark-blue-2);
  position: relative;
}

div.blog_banner_inner {
  margin: 0 auto;
  padding: 7rem 0rem;
  max-width: 1300px;
}

div.blog_banner_background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

div.blog_banner_background_mask {
  position: absolute;
  top: 50%;
  letter-spacing: 5.8px;
  transform: translate3d(-10%, -50%, 0);
  left: calc(50vw - 1250px / 2);
  font-size: 400px;
  font-family: 'Lato', sans-serif;
  line-height: 21rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $dark-blue-3;
  opacity: 0.08;
  pointer-events: none;
}

div.blog_banner_offer_wrapper {
  display: grid;
  grid-template-columns: 55% 45%;
  div {
    padding: 2rem;
  }
}

div.blog_banner_offer_description {
  max-width: 575px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 48px;
    span {
      color: #dd3c6f;
    }
  }
  p {
    margin: 0;
    margin-bottom: 3rem;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      font-size: 20px;
      margin-bottom: 1rem;
      svg {
        margin-right: 1rem;
      }
    }
  }
  button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    line-height: 3rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    padding: 0.5rem 1.5rem;
    color: #fff;
    background: linear-gradient(#dd89a3, #dd3c6f);
    box-shadow: 0 4px 16px -4px rgba(218, 59, 130, 0.5);
    border: 1px solid #dd3c6f;
    border-radius: 4rem;
    div {
      box-shadow: inset 0 1px 4px 0 rgba(218, 59, 130, 0.8);
      margin-left: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      height: 42px;
      width: 42px;
      padding: 0;
      border-radius: 50%;
      svg {
        color: #dd3c6f;
      }
    }
  }
  button:hover {
    box-shadow: 0 4px 20px -2px rgba(218, 59, 130, 0.6);
  }
  button:focus {
    outline: none;
  }
}

div.blog_banner_offer_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    max-height: 400px;
    height: 100%;
    width: 100%;
  }
}
