div.blog_about_container {
  margin: 0 auto;
  max-width: 1100px;
  padding-bottom: 4rem;
  div.blog_about_inner {
    width: 55%;
  }
}

div.blog_about_title {
  h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
  }
}

div.blog_about_contents {
  display: grid;
  grid-template-columns: 1fr 150px;
}

div.blog_about_description {
  p {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #7272a3;
    letter-spacing: 0.5px;
    line-height: 32px;
  }
  p.bio {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
  p.location {
    font-size: 16px;
  }
}

div.blog_about_profilePic {
  margin: 0 0 0 auto;
  height: 100px;
  width: 100px;
  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}
