/**
* This file holds all variables that scss tracks for this application. It is designed
* to be lightweight to decrease time it takes to import this file in other components.
*/

/* Colors */
$dark-blue-1: #17324b;

$light-grey-1: #e2e2e2;
$light-grey-2: #f0f4fc;
