/**
* This file holds all variables that scss tracks for this application. It is designed
* to be lightweight to decrease time it takes to import this file in other components.
*/

/* Colors */
$dark-blue-1: #17324b;
$dark-blue-2: hsl(209, 53%, 30%);
$dark-blue-3: hsl(209, 75%, 50%);

$light-blue-1: #7272a3;
$light-blue-2: #a9a9c9;

$light-grey-1: #e2e2e2;
$light-grey-2: #f0f4fc;
