@import './../../../assets/scss/core/_variables';

div.blog_content_container {
  padding: 4rem 1rem;
}

div.blog_content_inner {
  margin: 0 auto;
  max-width: 1200px;
}

div.blog_doc_wrapper {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

div.blog_doc_main {
  p {
    font-family: 'Lato', sans-serif;
  }
  a {
    color: $dark-blue-1;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
  a::before {
    content: '\E902';
    font-family: Linearicons !important;
    font-size: 1rem;
    vertical-align: baseline;
    padding-right: 0.3rem;
    opacity: 0.7;
  }
  blockquote {
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #7272a3;
  }
  blockquote::before {
    content: '\201C';
    position: absolute;
    top: -18px;
    left: -49px;
    height: 100%;
    width: 2rem;
    font-family: Lato, PT Sans, Helvetica, sans-serif;
    font-size: 2rem;
    color: #a9a9c9;
    text-align: center;
    padding-top: 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/**
 * GitHub Gist Theme
 * Author : Anthony Attard - https://github.com/AnthonyAttard
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: $light-grey-2;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #d73a49;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #6f42c1;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-number {
  color: #005cc5;
}

.hljs-string {
  color: #032f62;
}
