div.guides_container {
  position: relative;
  padding: 0rem 1rem;
  padding-bottom: 1rem;
  div.guides_inner {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    padding: 1rem 2rem 2rem 2rem;
    @media (max-width: 767px) {
      padding: 1rem;
      padding-top: 0.5rem;
    }
    h2.section-title {
      text-align: center;
      font-size: 24px;
      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
    div.guide {
      margin: 0 auto;
      max-width: 800px;
      div.image {
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
      div.title {
        h2 {
          font-size: 20px;
          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
      }
      div.description {
        p {
          font-size: 16px;
          @media (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
      div.controls {
        text-align: right;
        button {
          cursor: pointer;
          color: #fff;
          border: 1px solid #17324b;
          font-size: 16px;
          width: 200px;
          height: 48px;
          background-color: #17324b;
          text-transform: uppercase;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
        }
        button:hover {
          background-color: #305b83;
        }
        @media (max-width: 767px) {
          width: 100%;
          button {
            width: 100%;
            font-size: 12px;
            height: 36px;
          }
        }
      }
    }
  }
}
